.card img{
    height: 8rem;
    width: 8rem;
    display: flex;
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
    margin-left: auto;
    margin-right: auto;
    justify-content: center;
    align-items: center;
}

.card h3{
    font-size: 1.5rem;
    text-align: center;
}

.card{
    background-color: white;
    border: 0.1rem solid lightgray;
    border-radius: .5rem;
    box-shadow: 0.08rem  0.1rem gray;
    width: 13rem;
    height: 14rem;
}

.cards{
    display: flex;
    justify-content: space-around;
}


@media (max-width: 576px){
    .cards{
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .card{
        margin-top: 1rem;
    }

}