#signUpForm{    
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: .1rem solid lightgray;
    height: 27rem;
    width: 23rem;
    margin-top: 2rem;
    margin-left: auto;
    margin-right: auto;

}

#signUpForm input{
    margin: 1rem;
    padding-top: 0.5rem;
    padding-bottom: 0.3rem;
    width: 18rem;
}
#signUpForm > p{
    text-align: center;
}

#signUpName, #signUpEmail, #signUpPass1, #signUpPass2 {
    border: none;
    border-bottom: .1rem solid lightgray;
}

#signUpName:focus, #signUpEmail:focus, #signUpPass1:focus, #signUpPass2:focus, #signUpSubmit:focus{
    outline: none;
}

#signUpSubmit{
    width: 100%;
    background: #FF6E40;
    color: white;
    border: .12rem solid lightgray;
}

